.cadastro {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
}

.cadastro__box {
    border: 2px solid var(--preto);
    margin: 4em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    grid-area: 1 / 2 / 2 / 3;
    position: relative;
}

.cadastro__texto {
    font-size: 20px;
    font-weight: 500;
    margin: 2em 3em;
}

.cadastro__input {
    width: 60%;
    padding: 0.7em;
    border: 1px solid gray;
    margin-bottom: 2em;
    margin-right: -0.4em;
}

.cadastro__input::placeholder {
    font-family: var(--fonte-principal);
}

.cadastro__botão {
    padding: 0.75em;
    color: var(--branco);
    background-color: var(--cor-link);
    border: none;
    letter-spacing: 1.2px;
}

.rodape {
    padding: 1em;
    background-color: var(--preto);
}

.rodape p {
    color: var(--branco);
    text-align: center;
    font-size: 13px;
}

.link-especial {
    color: rgb(238, 255, 0);
    font-size: 15px;
    font-weight: 500;
}

.pointer {
    cursor: pointer;
}

.cadastro-modal {
    width: 50%;
    position: fixed;
    z-index: 5;
    transform: translate(-50%, -50%);
    top: 10%;
    left: 50%;
    transition: 0.4s;
}

.cadastro__modal {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: black;  
    padding: 0.3em;
    border-radius: 10px 10px 0 0;
}

.cadastro__modal-imagem {
    margin-left: 1em;
}

.cadastro__modal-texto {
    margin: 1em;
}

.cadastro__modal-cabeçalho {
    display: flex;
    color: var(--branco);
}

.x {
    position: absolute;
    right: 1em;
    top: 1em;
}

.cadastro__modal-desc {
    background-color: var(--branco);
    padding: 0.7em;
    box-shadow: 1px 2px 15px 1px rgba(0,0,0,0.75);
    border-radius: 0 0 7px 7px;
}

.error-msg {
    color: red;
    font-size: 16px;
    margin-bottom: -0.1em;
    padding-bottom: 0.3em;
}

.cadastro__modal-desc-texto {
    padding: 0em;
    text-align: center;
}

span {
    font-weight: 700;
}

.cadastro__botão:hover {
    background-color: #40128B;
    transition: .3s
}

@media screen and (max-width: 768px) {
    .cadastro {
        display: block;
    }

    .cadastro__box {
        margin: 2em;
    }

    .cadastro__texto {
        margin: 2em;
    }

    .cadastro-modal {
        width: 70%;
        font-size: 15px;
    }
}

@media screen and (max-width: 425px) {
    .cadastro__box {
        margin: 1.5em;
    }

    .cadastro__texto {
        margin: 1em;
    }

    .cadastro-modal {
        width: 80%;
        font-size: 13px;
    }
}