.categorias h1 {
    font-size: 32px;
    font-weight: 500;
    color: var(--preto-texto);
    text-align: center;
    margin-top: 1.5em;
}

.categorias__topicos {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 2em;
}

.categorias__topicos button {
    border: none;
}

.categorias__topicos button:hover {
    width: 170px;
    box-shadow: 1px 12px 15px;
    margin-bottom: -1em;
}

.categorias__imagens {
    width: 100%;
    margin-top: -1em;
}

.categorias__item {
    background-color: var(--preto);
    text-decoration: none;
    color: var(--branco);
    text-align: center;
    padding: 0.5em 0;
    margin-bottom: -1em;
}

.produtos__titulo-principal {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin-top: 2em;
}

.produtos {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
}

.produtos__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    margin: 0 8em;
}

.produtos__mostra {
    width: 80%;
    padding-bottom: 1.8em;
    margin: 2em;
    border: 1px solid rgb(230, 229, 229);
}

.produtos__descrição {
    margin-left: 1em;
}

.produtos__foto {
    width: 100%;
}

.produtos__titulo {
    font-size: 16px;
    font-weight: 700;
    margin: 1em 0;
}

.produtos__texto {
    font-size: 13px;
}

.produtos__preço {
    margin: 1em 0 1.5em;
    font-size: 16px;
    font-weight: 700;
}

.produtos__link {
    background-color: var(--cor-link);
    text-decoration: none;
    color: var(--branco);
    padding: 0.5em 1em;
    border: none;
}

.categoria__clique {
    display: flex;
    width: 30%;
    margin: 0 8em;
}

@media screen and (max-width: 768px) {
    .categorias h1 {
        font-size: 28px;
    }

    .categorias__topicos {
        display: grid;
        grid-template-columns: 1fr repeat(3, 2fr) 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .topicos-grid1 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .topicos-grid2 {
        grid-area: 1 / 3 / 2 / 4;
    }

    .topicos-grid3 {
        grid-area: 1 / 4 / 2 / 5;
    }

    .topicos-grid4 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .topicos-grid5 {
        grid-area: 2 / 3 / 3 / 4;
    }

    .topicos-grid6 {
        grid-area: 2 / 4 / 3 / 5;
    }

    .produtos__titulo-principal {
        font-size: 28px;
    }

    .produtos__grid {
        margin: 0 2em;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 10px;
    }

    .categorias__topicos button:hover {
        width: auto;
        margin-bottom: 1em;
    }

    .categoria__clique {
        width: 50%;
        margin: 0;
    }
}

@media screen and (max-width: 425px) {
    .categorias__topicos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .topicos-grid1,
    .topicos-grid2,
    .topicos-grid3,
    .topicos-grid4,
    .topicos-grid5,
    .topicos-grid6 {
        width: 9em;
    }

    .topicos-grid1 {
        grid-area: 1 / 2 / 2 / 3;
        ;
    }

    .topicos-grid2 {
        grid-area: 1 / 3 / 2 / 4;
    }

    .topicos-grid3 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .topicos-grid4 {
        grid-area: 2 / 3 / 3 / 4;
    }

    .topicos-grid5 {
        grid-area: 3 / 2 / 4 / 3;
    }

    .topicos-grid6 {
        grid-area: 3 / 3 / 4 / 4;
    }

    .produtos__grid {
        display: flex;
        flex-direction: column;
    }

    .categoria__clique {
        width: 100%;
    }
}