.modal__completo {
    width: 100%;
}

.modal-produtos {
    position: fixed;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.modal__principal {
    background-color: white;
}

.modal__cabeçalho {
    background-color: var(--preto);
    color: var(--branco);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
}

.modal__cabeçalho-titulo {
    display: flex;
}

.modal__titulo {
    margin: 0.2em 0 0 1em;
}

.modal__botão-fechar {
    background-image: url(/assets/bx-x.svg);
    background-color: black;
    width: 16px;
    height: 16px;
    border: none;
}

.modal__imagem {
    border-radius: 10px;
}

.modal__principal {
    display: flex;
    padding: 1em;
    border-radius: 0 0 10px 10px;
    box-shadow: 2px 2px 10px;
}

.formulário {
    padding: 0.5em 2em;
}

.modal__titulo-descrição {
    font-size: 16px;
    font-weight: 700;
}

.modal__descrição {
    font-size:13px;
    font-weight: 300;
    margin: 1.5em 0;
    padding-bottom: 2em;
    border-bottom: 1px solid rgb(184, 181, 181);
}

.modal__preço {
    font-size: 20px;
    font-weight: 700;
}

.modal__link {
    color: gray;
    font-size: 13px;
}

.titulo__seletores {
    font-size: 13px;
    font-weight: 700;
    margin-top: 2em;
}

.seletores {
    margin-top: 1.5em;
    font-size: 13px;
    display: flex;
    width: 100%;
    justify-content:left;
    gap: 30px;
    border-bottom: 1px solid lightgray;
}

.seletores2 {
    margin-top: 1.5em;
    font-size: 13px;
    display: flex;
    width: 100%;
    justify-content:left;
    gap: 20px;
}

.seletores-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 1.5em;
    
}

.botão__modal {
    padding: 0.5em 1em;
    background-color: var(--cor-link);
    color: var(--branco);
    border: none;
    margin-top: 1em;
}

.hide{
    opacity: 0;
    z-index: -1;
}

.hide-modal {
    opacity: 0;
    top: 0!important;
    right: 0!important;
    transition: 0.4s;
}

.erro {
    border:1px solid rgb(250, 76, 76);
    background-color: rgb(248, 222, 222);  
}


@media screen and (max-width: 1440px) {
    .modal-produtos {
        width: 70%;
    }
}

@media screen and (max-width: 991px) {
    .modal-produtos {
        width: 50%;
        top: 50%;
    }

    .modal__descrição {
        padding-bottom: 0.5em;
    }
    
    .modal__descrição,
    .modal__link,
    .seletores,
    .titulo__seletores,
    .seletores2,
    .botão__modal {
        margin: 0.5em 0;
    }

    .seletores-items {
        padding-bottom: 0;
    }
    
    .modal__principal {
        flex-direction: column;
    }

    .modal__cabeçalho {
        padding: 0.5em;
    }

    .modal__titulo {
        font-size: 16px;
        margin-top: 0.2em;
    }

    .modal__imagem {
        width: 60%;
        margin-left: 3em;
    }

    .botão__modal {
        margin: 0;
    }

    .formulário {
        margin-top: 1em;
    }
}

@media screen and (max-width: 425px) {
    .modal-produtos {
        width: 80%;
    }
}